body {
    background-color: darkorange;
}

.home {
    width: 50vw;
    justify-content: space-evenly;
    align-self: center;
    display: flex;
    flex-direction: column;
    height: 350px;
}

.button {
    padding-left: 1.35vw;
}

.outside {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    width: 50%;
}

h1 {
    display: flex;
    flex-direction: row;
    color: gainsboro;
    justify-content: center;
    font-size: 60px;
}

#heading {
    font-size: 36px;
    color: red;
    font-weight: bold;
}