body {
    background-color: darkorange;
}

.all {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

span {
    width: 30vw;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.button {
    padding-left: 1.35vw;
}

input {
    width: 50%;
}

.outside {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.delete {
    cursor: pointer;
}

h1 {
    display: flex;
    flex-direction: row;
    color: gainsboro;
    justify-content: center;
    font-size: 60px;
}

#foodList {
    height: max-content;
    margin: 0;
    width: 90%;
    list-style-type: none;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: max-content;
    font-size: larger;
}

#heading {
    font-size: 36px;
    color: red;
    font-weight: bold;
}